In [2]:
name = 'S Khan'
university = "Hamdard University"
department = "Managament Sciences"
reg_no = 2000588

In [3]:
print(name)

S Khan

In [4]:
admit_card = f"""
name = {name}
university = {university}
department = {department}
reg_no = {reg_no}"""
print(admit_card)

name = S Khan
university = Hamdard University
department = Managament Sciences
reg_no = 2000588

In [ ]:
operators
= assign value
+ addition
- substraction
* multiplication
/ division
% modulas
// flood division

assign / arthematic / comparative
expresssion vs statement (difference between Assignment)

In [ ]:
# expression vs statement (python naming conventions) Assignment

In [6]:
## Assign Operator

In [ ]:
# variable_name = value
#

In [11]:
teacher_name = "Muhammad Qasim"
teacher_name = 'Muhammad Qasim'
teacher_name = """Muhammad Qasim"""
teacher_name = '''Muhammad Qasim'''

In [12]:
print(teacher_name)
print(type(teacher_name))
print(id(teacher_name))

Muhammad Qasim
<class 'str'>
2100497120688

In [14]:
t1 = "Muhammad Qasim"
t2 = 'Muhammad Qasim'

In [18]:
print(t1)
print(type(t1))
print(id(t1))

print(t2)
print(type(t2))
print(id(t2))

Muhammad Qasim
<class 'str'>
2100497147120
Muhammad Qasim
<class 'str'>
2100497145968

In [ ]:
nick_name = Shallow Copy
original_name = Deep Copy

In [19]:
num1 = 10 # int
num2 = 5 # int
print(num1 + num2) # result int

15

In [20]:
num1 = 10.2 # float
num2 = 5 # int
print(num1 + num2) # result float

15.2

In [21]:
num1 = 10.2 # float
num2 = 5 # int
result = (num1 + num2) # result float
print(result)
print(type(result))

15.2
<class 'float'>

In [23]:
num1 = 10 # float
num2 = 5 # int
print(num1 - num2) # result float

5

In [24]:
num1 = 10 # float
num2 = 5 # int
print(num1 * num2) # result float

50

In [25]:
num1 = 10 # float
num2 = 5 # int
print(num1 / num2) # result float

2.0