# RESUME

In [12]:
print("-------------------Board of Intermediate----------------------")
print("Name: S Khan")
print("Father's Name: SS Khan")# str
print("Roll No. 202218")
accounting = 82
print("Accounting: ", accounting)
maths = 77
print("Maths: ", maths)
islamiat = 70
print("Islamiat: ", islamiat)#int
english = 82
print("English: ", english)
pakistan_studies = 67
print("Pakistan Studies: ", pakistan_studies)
add = (accounting + maths + islamiat + english + pakistan_studies)
print("Total Achieved Marks ", add)
total_marks = 500
print(total_marks, "Total Marks")
per = (accounting + maths + islamiat + english + pakistan_studies / total_marks, "Percentage")
print(per)

-------------------Board of Intermediate----------------------
Name: S Khan
Father's Name: SS Khan
Roll No. 202218
Accounting:  82
Maths:  77
Islamiat:  70
English:  82
Pakistan Studies:  67
Total Achieved Marks  378
500 Total Marks
(311.134, 'Percentage')

In [30]:
first_name = "Shahzad"
last_name = "Khan"
first_name+" "+last_name

'Shahzad Khan'

In [ ]:
Camel Case = firstName    (Java Script)
Pascal Case = FirstName   (Java Script)
lower case = first_name   (lower case)

In [ ]:
name1 = 'Shahzad'
name2 = "Shahzad"
name3 = '''Shahzad'''

In [34]:
name = 'S Khan'
university = "HIMS"
department = "MBA Finance"
reg_no = 200258

In [35]:
admit_card = f"""
Name: {name}
University: {university}
Department: {department}
Reg_no : {reg_no}"""
print(admit_card)

Name: S Khan
University: HIMS
Department: MBA Finance
Reg_no : 200258